server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: delivery-api-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: delivery-api
          __path__: /var/logs/delivery-api.log
    pipeline_stages:
      - json:
          expressions:
            level: level
            message: message
      - labels:
          level: