name: Delivery API - CI/CD pipeline

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Download the code
        uses: actions/checkout@v4

      - name: 2. Download JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: 3. Configurando o cache do Maven
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: 4. Compilar e Rodar Testes com Maven
        run: ./mvnw -B clean verify -Dspring.profiles.active=test

  build-and-push-docker:
    name: Build and push docker image
    runs-on: ubuntu-latest

    needs: build-and-test
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write

    steps:
      - name: 1. Download the code
        uses: actions/checkout@v4

      - name: 2. Configure Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 3. Login on Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 4. Extract metadata (Tags) from docker image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: 5. Build and push docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}